html, body {
  margin: 0;
  padding: 0;
}

body {
  background:#d9e4ea;
}

header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  // background: white;
  .content {
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  &> div {
    position: relative;
    height: 580px;
    padding: 50px;
    // margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // background: white;
    border-radius: 10px;
  }
}

#controls {
  align-self: center;
  width: 1260px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin: 0 auto;
}

#voltage-list {
  align-self: center;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  // flex-wrap: wrap;
  height: 320px;
  width: 400px;
  margin-bottom: 60px;
  border: 1px solid dimgray;
  border-radius: 5px;
  .voltage-column {
    display: flex;
    flex-direction: column;
  }
  .voltage-value {
    padding: 20px;
    width: 180px;
    span {
      margin-right: 12px;
      &.digits10 {
        margin-right: 3px;
      }
    }
  }
}

#voltage-chart {
  align-self: center;
  width: 400px;
  height: 400px;
}

.some-input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    font-size: 16px;
    padding: 8px;
  }
  .error-message {
    color: tomato;
    opacity: 0;
    &.vissible {
      opacity: 1;
    }
  }
}

.lang {
  // position: absolute;
  // top: 10px;;
  // left: 5px;
  a {
    border: 1px solid grey;
    padding: 5px;
    color: dimgray;
    text-decoration: none;
    border-radius: 3px;
    &:hover {
      color: rgb(165, 165, 165);
    }
  }
}

.expand {
  // position: absolute;
  // top: 5px;;
  // right: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid dimgray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  svg {
    &:hover {
      color: rgb(165, 165, 165) !important;
    }
  }
}

.table-name {
  align-self: center;
  width: 400px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1300px) {
  header {
    .content {
      width: 100%;
      padding: 0 20px;
    }
  }
  #controls {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 520px) {
  .container {
    &> div {
      width: 100%;
    }
  }
  #controls {
    width: 100%;
    padding: 0;
  }
  #voltage-list {
    width: 100%;
    .voltage-value {
      width: 100%;
    }
  }
  .table-name {
    width: 100%;
  }
  #voltage-chart {
    width: 100%;
  }
  #keyboard {
    width: 310px;
  }
}

@media (max-width: 430px) {
  .container {
    &> div {
      padding: 50px 10px;
    }
    .button--green {
      padding: 10px 20px;
    }
  }
}

@media (max-height: 600px) {
  body {
    // background:white;
  }
  .container {
    height: fit-content;
    &> div {
      height: 100%;
      display: block;
    }
  }
  #voltage-list {
    margin-bottom: 0;
  }
}